<!DOCTYPE html>
<html>
	<head>
		{% load staticfiles %}
		<title>DBUG - 영화 추천 시스템 만들기 Part2</title>
		<meta charset="utf-8">
		<style>
		body {
  			padding-top: 3.5rem;
		}
		</style>
		<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
		<script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
		</style>
		{% block block_script %}
		{% endblock block_script %}		
	</head>

	<body>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" href="{% url 'reviews:UserLogin' %}">MovieReview</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
					</li>
					{% if user.is_authenticated %}
					<li class="nav-item">
				        <a class="nav-link" href="{% url 'Logout'%}">Logout</a>
				    </li>
					{% endif %}
					{% if not user.is_authenticated %}
					<li class="nav-item">
				        <a class="nav-link" href="{% url 'reviews:Registration' %}">Register</a>
				    </li>
					{% endif %}					
				</ul>

				<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
		</nav>

		<div class="container-fluid h-100">
			<div class="row h-100">
				<aside class="col-12 col-md-2 p-0 bg-dark">
					<nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start">
						<div class="collapse navbar-collapse">
							<ul id="sidebar">
								{% if genres %}
									<ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
									{% for genre in genres %}
										<li class="nav-item"><a class="nav-link pl-0" href="/genre/{{ genre.name }}">{{ genre.name}}</a></li>
									{% endfor %}
									</ul>
								{% endif %}
							</ul>
						</div>
					</nav>
				</aside>
			</div>		
		</div>
				<main>
			<div class="container">
				{% block body_block %}
				{% endblock body_block %}							
			</div>					
		</main>	
	</body>
</html>